<div class="lesson">
    <h2><%= lesson.name %></h2>
    <a href="/subjects/subject/<%=lesson.subjects.subject_id%>"> <%=lesson.subjects.name %></a>
    <p><%=lesson.year%> - <%=lesson.semester%></p>
    <% const userLocale = navigator.language || navigator.userLanguage %>
    <p><%= new Date(lesson.class_start).toLocaleTimeString(userLocale, {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false,
    })%></p>
    <p><%= lesson.classroom %></p>
    <p><%=lesson.subjects.textbook%></p>
    <div class="students-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Student ID</th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach(student => { %>
                    <tr onclick="window.location='/students/student/<%= student.student_id %>'">
                        <td><%= student.name %></td>
                        <td><%= student.student_id %></td>
                    </tr>
                <% }) %>
                <tr class="addnew" onclick="window.location='/students/new'">
                    <td colspan="4">Add new...</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <button class="clickable" onclick="window.location='/lessons/lesson/<%= lesson.lesson_id%>/edit'">Edit</button>
        <button class="delete" onclick="window.location='/lessons/lesson/<%= lesson.lesson_id %>/delete'">Delete</button>
    </div>
</div>