<h1><%= title %></h1>
<form method="POST">

    <p class="info">Fields marked with a <span aria-label="required">*</span> are required</p>
    <fieldset class="name">
        <legend>Name: </legend>
        <span>
            <label for="firstName">First: <span aria-label="required">*</span></label>
            <input type="text" id="firstName" name="firstname" value='<%= values.firstname%>'>
        </span>
        <span>
            <label for="lastName">Last: <span aria-label="required">*</span></label>
            <input type="text" id="lastName" name="lastname" value='<%= values.lastname%>'>
        </span>
    </fieldset> 
    <span class="error"><%- include('partials/errors', {errorType:"firstname"}) %></span>
    <label for="email">Email: <span aria-label="required">*</span></label>
    <input type="text" id="email" name="email" value='<%= values.email%>'>
    <span class="error"><%- include('partials/errors', {errorType:"email"}) %></span>
    <label for="password">Password: <span aria-label="required">*</span></label>
    <input type="password" id="password" name="password" l-DD">
    <span class="error"><%- include('partials/errors', {errorType:"password"}) %></span>
    <label for="vpassword">Verify Password: <span aria-label="required">*</span></label>
    <input type="password" id="vpassword" name="vpassword" l-DD">
    <span class="error"><%- include('partials/errors', {errorType:"vpassword"}) %></span>
    <div class="button-container">
        <button class="clickable" type="submit">Submit</button>
        <a class="clickable" href="./..">Cancel</a> 
    </div>
</form>
