<div class="dash-form">
    <form method="POST">
        <p class="info">Fields marked with a <span aria-label="required">*</span> are required</p>
        <label for="name">Subject name: <span arial-label="required">*</span></label>
        <input type="text" id="name" value="<%=values.name%>" name="name" />
        <span class="error"><%- include('partials/errors', {errorType:"name"}) %></span>
        <label for="textbook">Textbook:</label>
        <input type="text" value="<%= values.textbook %>" id="textbook" name="textbook" />
        <span class="error"><%- include('partials/errors', {errorType:"textbook"}) %></span>
        <textarea id="description" name="description" value="<%= values.description%>" rows="10" placeholder="Subject description..."></textarea>
        <div class="button-container">
            <button class="clickable dark" type="submit">Add</button>
            <a class="clickable" href="/subjects">Cancel</a>
        </div>
    </form>
</div>