<h2>
    <%= student.name %>
</h2>
<p>
    Student ID: <%= student.student_id %>
</p>
<p> Enrolled in:
<br>
    <% student.lessons.forEach((lesson) => { %>
        <%= lesson.name %>
        <br>
    <% }) %>
</p>
<div class="button-container">
    <button onclick="window.location='/students/student/<%= student.student_id%>/delete'" class="delete">Delete</button>
    <button class="clickable" onclick="window.location='/students/student/<%= student.student_id%>/edit'">Edit</button>
</div>